<?php

/**
 * Главный конфиг приложения.
 * Порядок следования элементов массива не имеет значения.
 * Все элементы опциональны.
 */
return [
    // Список праздничных дней
    'holidays' => [
        '2026-01-01',
        '2026-01-02',
        '2026-01-05',
        '2026-01-06',
        '2026-01-07',
        '2026-01-08',
        '2026-01-09',
        '2026-02-23',
        '2026-03-09',
        '2026-05-01',
        '2026-05-11',
        '2026-06-12',
        '2026-11-04',
        '2026-12-31',
    ],
    
    // Список выходных рабочих дней
    'workdays' => [],
    
    // Список отпускных дней
    'vacation' => [],
    
    // Пути до директорий с git репозиториями
    'repositories' => [
        'pk' => '/var/www/pk',
        'ais' => 'C:\xampp\domains\ais',
    ],
    
    // Будут извлечены все коммиты с данными email
    'emails' => [
        'work@email.ru',
        'personal@mail.com',
    ],
    
    // Дополнительные плейсхолдеры, которые присутствуют в шаблоне, но не касаются дат
    'placeholders' => [
        'name' => 'Фамилия Имя Отчество', // ФИО сотрудника
        'department' => 'Название отдела', // Отдел, в котором работает сотрудник
    ],
    
    // Путь до git.exe, либо имя переменной окружения
    'gitExe' => 'git',
    
    // Год отчета
    'year' => 2026,
    
    // Месяц отчета
    'month' => 1,
];
